@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* { margin: 0; padding: 0;}
a { text-decoration: none; color: #333; display: block;}
li { list-style: none;}
html, body { font-family: 'Nanum Gothic', sans-serif;}
img { width: 100%;}
header, section, footer {width: 100%; float: left;}
header, section, footer, div, ul, li { box-sizing: border-box;}
body { 
    position:relative;

}
/*pc 버전*/

header {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    padding: 1vw;
    position: fixed;
    z-index: 50;
}
header .logo  a {
    width: 15vw;
    height: 3vw;
    text-indent: -9999px;
    background-image: url(../img/EDAM_Logo6.png);
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position: left;
    
}
header .logo  a.colorChange {
    animation: main_logo_change 10s step-start infinite;
}
@keyframes main_logo_change {
    0% { background-position: right;}
    25% { background-position: left;}
    50% { background-position: left;}
    75% { background-position: right;}
    100% { background-position: right;}
}
header .menu > ul{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    margin-top: 0.8vw;
    
}
header .menu > ul > li > a {
    font-size: 0.8vw;
    font-weight: bold;
    text-align: center;
}
header .menu ul li {
    position: relative;
}
header .menu .sub {
    width: 8vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: -2.8vw;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2.8vw;
}
header .menu .sub li:first-child a {
    font-size: 0.8vw;
    margin-bottom: 1vw;
    font-weight: bold;
}
header .menu .sub li a {
    text-align: center;
    padding-bottom: 1vw;
    font-size: 0.7vw;
    color: #fff;
}
header .menu .sub .sub_top img {
    width: 1vw;
}
.hamburger a {
    text-indent: -9999px;
    background-image: url(../icon/hamburger-menu2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 1.2vw;
    height: 1vw;
    margin-top: 0.7vw;
    margin-right: 1vw;
}
.hamburger a.colorChange {
    animation: main_logo_change 10s step-start infinite;
}
.hamburger_menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #333;
    z-index: 55;
}
.hamburger_menu .btn_wrap {
    position: relative;
}
.hamburger_menu .x_btn {
    position: absolute;
    width: 1vw;
    right: 2vw;
    top: 2.7vw;
}
.hamburger_menu .ham_menu > ul {
    display: flex;
    justify-content: center;
    margin-top: 5.5vw;
    padding-top: 5vw;
    border-top :0.5px solid #efefef;
}
.hamburger_menu .ham_menu > ul > li {
    text-align: center;
    margin-right: 5vw;
}
.hamburger_menu .ham_menu > ul > li:last-child {
    margin-right: 0;
}
.hamburger_menu .ham_menu > ul > li > a {
    color:#fff;
    font-weight: bold;
    margin-bottom: 1vw;
    font-size: 0.9vw;
}
.hamburger_menu .ham_menu .sub li {
    height: 2vw;
}
.hamburger_menu .ham_menu .sub li a {
    font-size: 0.7vw;
    color: #999;
    padding-top: 0.9vw;
    padding-bottom:0.3vw;
}
.hamburger_menu .ham_menu .sub li a:hover {
    border-bottom: 2px solid #999;
}
footer {
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    padding: 1vw 3vw;
    font-weight: bold;
    color: #999;
}
footer .left,
footer .right {
    display: flex;
}
footer address {
    font-style: normal;
    margin-right: 1vw;
}
footer address.colorChange {
    animation: footer_change 10s ease-in-out infinite;
}
@keyframes footer_change {
    0% {color: #fff;}
    25% { color: #999;}
    50% { color: #999;}
    70% { color: #fff;}
    100% {color: #fff;}
}
footer .sns img {
    width: 1vw;
    padding-right: 0.2vw;
}
footer .right p:first-child {
    margin-right: 1vw;
}
footer .right p.colorChange {
    animation: footer_change 10s ease-in-out infinite;
}
footer .right p span {
    color: #333;
    margin-right: 1vw;
}
footer .right p span.colorChange {
    animation: footerspan_change 10s ease-in-out infinite;
}
footer .left .sns {
    display: flex;
    
}
footer .left .sns a {
    text-indent: -9999px;
    width: 1.3vw;
    height: 1.5vw;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin-right: 0.1vw;
    margin-top: -0.1vw;
}
footer .left .sns a.colorChange {
    animation: main_logo_change 10s step-start infinite;
}
footer .left .sns a:first-child {
    background-image: url(../icon/Facebook3.png);
}
footer .left .sns a:nth-child(2) {
    background-image: url(../icon/insta3.png);
}
footer .left .sns a:last-child {
    background-image: url(../icon/youtube3.png);
}
@keyframes footerspan_change {
    0% {color: #efefef;}
    25% { color: #555;}
    50% { color: #555;}
    70% { color: #efefef;}
    100% {color: #efefef;}
}
.lang {
    width: 1.8vw;
    height: 3.1vw;
    line-height: 1.5vw;
    background-color: #ab8ac7;
    text-align: center;
    position: fixed;
    left: 5vw;
    top: 50%;
    font-weight: bold;
    font-size: 0.7vw;
}
.lang ul li:last-child {
    background-color: #fff;
    width: 1.6vw;
    margin-left: 0.1vw;
    margin-top: 0.1vw;
}
.lang ul li:last-child.colorChange {
    animation: lang_background_change 10s ease-in-out infinite;
}
@keyframes lang_background_change {
    0% {background-color: #232323;}
    25% { background-color: #fff;}
    50% { background-color: #fff;}
    70% { background-color: #232323;}
    100% {background-color: #232323;}
}
.lang ul li a.colorChange {
    animation: color_change 10s step-start infinite;
}
#fp-nav {
    margin-right: 5vw;
    z-index: 50;
}
#fp-nav ul li a span {
    background: #ab8ac7;
    border-radius: 0;
    width: 15px;
    height: 2px
}
.fp-nav ul li a span:last-child {
    background-image: url(../icon/icon_page_bar_purple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#fp-nav ul li a.active span {
    background-color: transparent;
    border: 2px solid #ab8ac7;
    left: 10px;
    top: 3px;
}
#section0.colorChange {
    animation: background_change 10s ease-in-out infinite;
}
@keyframes background_change {
    0% {background-color: #232323;}
    25% { background-color: #fff;}
    50% { background-color: #fff;}
    70% { background-color: #232323;}
    100% {background-color: #232323;}
}
.menu > ul > li > a.colorChange {
    animation: color_change 10s step-start infinite;
    
}

@keyframes color_change {
    0% {color: #fff;}
    25% { color: #333;}
    50% { color: #333;}
    70% { color: #fff;}
    100% {color: #fff;}
}

#section0 .sec_logo {
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 5vw;
}
#section0 .sec_logo a {
    width: 100%;
    height: 9vw;
    text-indent: -9999px;
    background-image: url(../img/EDAM_Logo5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}
#section0 .sec_logo a.colorChange {
    animation: logo_change 10s step-start infinite;
}
@keyframes logo_change {
    0% { background-position: right;}
    25% { background-position: left;}
    50% { background-position: left;}
    70% { background-position: right;}
    100% { background-position: right;}
}

#section0 .sec_logo p {
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    
}
#section0 .sec_logo p.colorChange {
    animation: font_change 10s step-start infinite;
}
@keyframes font_change {
    0% {color: #fff;}
    25% { color: #333;}
    50% { color: #333;}
    70% { color: #fff;}
    100% {color: #fff;}
}
#section0 .news {
    width: 30vw;
    height: 2vw;
    margin: 0 auto;
    margin-bottom: 3vw;
    background-color: #fff;
    border: 1px solid #ab8ac7;
    display: flex;
    justify-content: center;
    line-height: 2vw;
    overflow: hidden;
    
}
#section0 .news.colorChange {
    animation: news_change 10s ease-in-out infinite;
}
@keyframes news_change {
    0% {background-color: #232323;}
    25% { background-color: #fff;}
    50% { background-color: #fff;}
    70% { background-color: #232323;}
    100% {background-color: #232323;}
}
#section0 .news .news_icon {
    width: 1vw;
    height: 1vw;
    margin: 0.5vw 1vw 0 0;
    position: relative;
    text-indent:-9999px;
    background-image: url(../icon/news_icon2.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
#section0 .news .news_icon.colorChange {
    animation: logo_change 10s step-start infinite;
}
#section0 .news .news_icon:after {
    content:"|";
    position: absolute;
    right: -0.6vw;
    top: -0.5vw;
    color: #999;
    text-indent: 9999px;
    
}

#section0 .news .news_in a.colorChange {
    animation: font_change 10s step-start infinite;
}
#section0 .down_btn {
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid #ab8ac7;
    margin: 0 auto;
}
#section0 .down_btn a {
    margin:0 auto;
    text-indent: -9999px;
    width: 0;
    height:0;
    margin-top: 1vw;
    border-top: 0.5vw solid #efefef;
    border-right: 0.5vw solid transparent;
    border-bottom: 0.5vw solid transparent;
    border-left: 0.5vw solid transparent;
}
#section0 .down_btn a.colorChange {
    animation: border_color 10s step-start infinite;
}
@keyframes border_color {
    0% {border-top: 0.5vw solid #fff;}
    25% { border-top: 0.5vw solid #333;}
    50% { border-top: 0.5vw solid #333;}
    70% { border-top: 0.5vw solid #fff;}
    100% {border-top: 0.5vw solid #fff;}
}
#section1 .sec2_wrap {
    width:62.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#section1 .mobile_txt {
    display: none;
}
#section1 .sec2_wrap .sec2_left {
    position: relative;
}
#section1 .sec2_wrap .sec2_left div {
    position: absolute;
}
#section1 .sec2_wrap .sec2_left .longbox {
    width: 10.4vw;
    height: 26vw;
    background-color: rgba(245,229,55,0.2);
    right: -21.4vw;
    top: -1.0vw;
    
}
#section1 .sec2_wrap .sec2_left .smallbox {
    width: 5.2vw;
    height: 5.2vw;
    background-color: rgba(212,198,47,0.2);
    right: -24vw;
    bottom:4.7vw;
}
@keyframes dpblock {
    0% { background-color: transparent};
    25% { background-color: transparent};
    50% { background-color: rgba(245,229,55,0.2)};
    75% { background-color: rgba(245,229,55,0.2)};
    100% { background-color: rgba(245,229,55,0.2)};
}
/* #section1 .sec2_wrap .sec2_left .longbox.dpblock,
#section1 .sec2_wrap .sec2_left .smallbox.dpblock {
    
    animation: dpblock 10s infinite;
    
} */
#section1 .sec2_wrap .sec2_left .sec2_left_photo {
    width: 20.1vw;
    height: 21.4vw;
}
#section1 .sec2_wrap .sec2_left .sec2_left_photo a {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-image: url(../img/ShinSaeKyeong.png);
    background-position: center 5%;
    background-repeat: no-repeat;
    background-size: cover;
}
#section1 .sec2_wrap .sec2_right .line_wrap {
    width: 6.3vw;
    height: 10.4vw;
}
#section1 .sec2_wrap .sec2_right .line {
    width: 0.5vw;
    height: 10.4vw;
    background-color: #333;
}
#section1 .sec2_wrap .sec2_right h1{
    font-size: 1.5vw;
    margin-top: 1vw;
}
#section1 .sec2_wrap .sec2_right .sec2_right_photo {
    width: 36.2vw;
    height: 18.2vw;
}
#section1 .sec2_wrap .sec2_right .sec2_right_photo a {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-image: url(../img/IU.png);
    background-position: center  5%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1vw;
}
#section2 .sec3_wrap {
    width: 62.5vw;
    height: 28.6vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#section2 .sec3_wrap .sec3_left .line_wrap2 {
    width: 0.5vw;
    height: 4.7vw;
}
#section2 .sec3_wrap .sec3_left .line_wrap2 .line2 {
    width: 0.5vw;
    height: 4.7vw;
    background-color: #333;
}
#section2 .sec3_wrap .sec3_left h1 {
    font-size: 1.5vw;
    margin-top: 1vw;
}
#section2 .sec3_wrap .sec3_left .detail {
    margin-top: 3vw;
    border: 1px solid #ab8ac7;
    width: 8.9vw;
    height: 2.3vw;
    text-align: center;
    line-height: 2.3vw;
    font-weight: bold;
    display: flex;
}
#section2 .sec3_wrap .sec3_left .detail:hover {
    background-color: #ab8ac7;
}
#section2 .sec3_wrap .sec3_left .detail a {
    color: #ab8ac7;
    margin-left: 1vw;
    font-size: 0.7vw;
}
#section2 .sec3_wrap .sec3_left .detail span {
    width: 0vw;
    height: 0vw;
    margin-left: 2vw;
    margin-top: 0.9vw;
    border-top: 0.3vw solid transparent;
    border-right: 0.3vw solid transparent;
    border-bottom: 0.3vw solid transparent;
    border-left: 0.3vw solid #ab8ac7;
    cursor: pointer;
}
#section2 .sec3_wrap .sec3_left .detail:hover a {
    color: #fff;
}
#section2 .sec3_wrap .sec3_left .detail:hover span {
    border-left: 0.3vw solid #fff;
}
#section2 .sec3_wrap .sec3_left ul {
    display: flex;
    margin-top: 2.4vw;
}
#section2 .sec3_wrap .sec3_left ul li {
    width: 14.6vw;
    height: 13.5vw;
    margin-right: 1vw;
    position: relative;
    
}
#section2 .sec3_wrap .sec3_left ul li span {
    width: 14.6vw;
    height: 13.5vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}
#section2 .sec3_wrap .sec3_left ul li .p1 {
    background-image: url(../img/1-1.png);
}
#section2 .sec3_wrap .sec3_left ul li .p2 {
    background-image: url(../img/2-1.png);
}
#section2 .sec3_wrap .sec3_left ul li .p3 {
    background-image: url(../img/3-1.png);
}
#section2 .sec3_wrap .sec3_left ul li > img {
    transition: all 0.5s;
}
#section2 .sec3_wrap .sec3_left ul li:hover > img {
    /* filter: grayscale(50%); */
}
#section2 .sec3_wrap .sec3_left ul li .black_30 {
    position: absolute;
    width: 100%;
    height: 13.5vw;
    background-color: rgba(0,0,0,0.5);
}

#section2 .sec3_wrap .sec3_left ul li .black_30 a {
    margin-left: 4vw;
    margin-top: 5.2vw;
    
}
#section2 .sec3_wrap .sec3_left ul li .black_30 a img {
    width: 7vw;
    transition: all 0.5s;
}

#section2 .sec3_wrap .sec3_left ul li:nth-child(2) .black_30 a img {
    width: 10vw;
    margin-left: -1.5vw;
    margin-top: 0.8vw;
}
#section2 .sec3_wrap .sec3_left ul li:last-child .black_30 a img {
    width: 6vw;
    margin-left: 0.4vw;
    margin-top: 0.5vw;
}
#section2 .sec3_wrap .sec3_left ul li:hover .black_30 a img {
    transform: scale(0.8);
}
#section2 .sec3_wrap .sec3_left ul li img {
    position: absolute;
}
#section2 .sec3_wrap .sec3_left ul li .border {
    position:absolute;
    width: 100%;
    height: 13.4vw;
    border: 2px solid #fff;
    opacity: 0;
    transition: all .5s;
}
#section2 .sec3_wrap .sec3_left ul li .border a {
    color: #fff;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    font-size: 2vw;
}
#section2 .sec3_wrap .sec3_left ul li:hover .border {
    transform: scale(0.8);
    opacity: 1;
}
#section2 .sec3_wrap .sec3_left ul li:last-child {
    margin-right: 0;
}
#section2 .sec3_wrap .sec3_right > div {
    width: 14.6vw;
    height: 9.1vw;
    margin: 0.43vw 0 0 0;
    position: relative;
}
#section2 .sec3_wrap .sec3_right span {
    width: 14.6vw;
    height: 9.1vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#section2 .sec3_wrap .sec3_right .p4 {
    background-image: url(../img/4.png);
}
#section2 .sec3_wrap .sec3_right .p5 {
    background-image: url(../img/5.png);
}
#section2 .sec3_wrap .sec3_right .p6 {
    background-image: url(../img/6.png);
}
#section2 .sec3_wrap .sec3_right > div .right_black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#section2 .sec3_wrap .sec3_right > div .right_black a {
    width: 7vw;
    margin: 0 auto;
    margin-top: 3.5vw;
    transition: all 0.5s;
}
#section2 .sec3_wrap .sec3_right > div:nth-child(2) .right_black a {
    width: 8vw;
    margin-top: 4vw;
}
#section2 .sec3_wrap .sec3_right > div:hover .right_black a {
    transform: scale(0.8);
}
#section2 .sec3_wrap .sec3_right > div .right_border {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    opacity:0;
    transition: all 0.5s
}
#section2 .sec3_wrap .sec3_right > div:hover .right_border {
    transform: scale(0.8);
    opacity:1
}
#section2 .sec3_wrap .sec3_right > div .right_border a {
    position: absolute;
    color: #fff;
    right: 1vw;
    bottom: 1vw;
    font-size: 1.3vw;
}
#section2 .sec3_wrap .sec3_right > div > img {
    width: 14.6vw;
    height: 9.1vw;
    position: absolute;
}
#section3 .sec4_wrap {
    width: 62.5vw;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 5vw;
}
#section3 .sec4_wrap .sec4_left img {
    width: 31.3vw;
    height: 18vw;
}
#section3 .sec4_wrap .sec4_left .sec4_longbox {
    width: 15.6vw;
    height: 15.6vw;
    background-color: rgba(239,239,239,0.4);
    right: 2vw;
    bottom: -9vw;
}
#section3 .sec4_wrap .sec4_left .sec4_smallbox {
    width: 8.9vw;
    height: 8.9vw;
    background-color: rgba(221,221,221,0.4);
    right: -2vw;
    bottom: -13vw;
}
#section3 .sec4_wrap .sec4_left {
    position: relative;
    width: 31.4vw;
    height: 18vw;
}
#section3 .sec4_wrap .sec4_left div {
    position: absolute;
}
#section3 .sec4_wrap .sec4_right {
    margin-left: 5vw;
}
#section3 .sec4_wrap .sec4_right .sec4_line_wrap {
    width: 0.5vw;
    height: 16.4vw;
}
#section3 .sec4_wrap .sec4_right .sec4_line_wrap .line3 {
    width: 0.5vw;
    height: 16.4vw;
    background-color: black;
}
#section3 .sec4_wrap .sec4_right h1 {
    font-size: 1.5vw;
    margin-top: 1vw;
}
#section3 .sec4_wrap .sec4_right .sec4_detail {
    margin-top: 3vw;
    border: 0.1vw solid #ab8ac7;
    width: 8.9vw;
    height: 2.3vw;
    text-align: center;
    line-height: 2.3vw;
    font-weight: bold;
    display: flex;
}
#section3 .sec4_wrap .sec4_right .sec4_detail:hover {
    background-color: #ab8ac7;
}
#section3 .sec4_wrap .sec4_right .sec4_detail a {
    color: #ab8ac7;
    margin-left: 1vw;
    font-size: 0.7vw;
}
#section3 .sec4_wrap .sec4_right .sec4_detail span {
    width: 0vw;
    height: 0vw;
    margin-left: 2vw;
    margin-top: 0.9vw;
    border-top: 0.3vw solid transparent;
    border-right: 0.3vw solid transparent;
    border-bottom: 0.3vw solid transparent;
    border-left: 0.3vw solid #ab8ac7;
    cursor: pointer;
}
#section3 .sec4_wrap .sec4_right .sec4_detail:hover a {
    color: #fff;
}
#section3 .sec4_wrap .sec4_right .sec4_detail:hover span {
    border-left: 0.3vw solid #fff;
}
#section3 .sec4_footer {
    display: none;
}




/*노트북 버전*/
@media screen and (max-width: 1600px){

}
/*태블릿 버전*/
@media screen and (max-width: 1280px){

}
/*모바일 버전*/
@media screen and (max-width: 480px){


header {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    padding: 1vw;
    position: fixed;
    z-index: 50;
    justify-content: flex-end;
}
.hamburger_menu {
    width: 100vw;
    height: 100vh;
    width: 80vw;
    right: 0;
    position: absolute;
    background-color: #333;
    z-index: 55;
}
header .logo {
    display: none;
}
header .menu {
    display: none;
}
header .hamburger a {
    margin-right: 5vw;
    margin-top: 5vw;
    width: 6vw;
    height: 5vw;
}
header .lang {
    display: none;
}
.hamburger_menu .x_btn {
    width: 5vw;
    margin-right: 4.4vw;
    margin-top: 4.4vw;
    position: absolute;
    right: 2vw;
    top: 2.7vw;
}
.hamburger_menu .ham_menu > ul {
    margin-top: 19vw;
    flex-flow: column;
    border-top: 1px solid #efefef;
}
.hamburger_menu .ham_menu > ul > li {
    margin: 0 0 3vw 10vw;
    text-align: left;
    color: #fff;
}
.hamburger_menu .ham_menu > ul > li > a {
    font-size: 5vw;
}
.hamburger_menu .ham_menu > ul > li .sub {
    display: none;
}
.hamburger_menu .ham_menu > ul > li .sub li {
    height: 5vw;
    margin-bottom: 3vw;
    margin-left: 1.5vw;
}
.hamburger_menu .ham_menu > ul > li .sub li a {
    font-size: 4vw;
    color: #fff;
}
.hamburger_menu .ham_menu .sub li a:hover {
    border: none;
}
.hamburger_menu .ham_menu_lang {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.hamburger_menu .ham_menu_lang a {
    color: #fff;
    width: 30vw;
    height: 6vw;
    line-height: 6vw;
    font-size: 3vw;
    text-align: center;
    border: 1px solid #fff;
}
.hamburger_menu .ham_menu_lang a.active {
    color: #333;
    background-color: #fff;
}
#section0 .intro {
    height: 104.2vw;
}
#section0 .sec_logo a {
    width: 89vw;
    height: 20vw;
    margin-left: -24vw;
    margin-top: 70vw;
}
#section0 .sec_logo p {
    font-size: 4vw;
    font-weight: normal;
    margin-bottom: 2.6vw;
}
#section0 .news {
    display: none;
}
#section0 .down_btn {
    width: 6vw;
    height: 6vw;
    border: 1px solid #ab8ac7;
    margin: 0 auto;
    margin-top: 31.3vw;
}
#section0 .down_btn a {
    margin:0 auto;
    text-indent: -9999px;
    width: 0;
    height:0;
    margin-top: 2.2vw;
    border-top: 1.5vw solid #efefef;
    border-right: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-left: 1.5vw solid transparent;
}
#section0 .down_btn a.colorChange {
    animation: border_color 10s step-start infinite;
}
@keyframes border_color {
    0% {border-top: 1.5vw solid #fff;}
    25% { border-top: 1.5vw solid #333;}
    50% { border-top: 1.5vw solid #333;}
    70% { border-top: 1.5vw solid #fff;}
    100% {border-top: 1.5vw solid #fff;}
}
#fp-nav {
    display: none;
}
footer {
    display: none;
}
#section1 .sec2_wrap {
    width: 100%;
    height: 100vw;
    margin:  0 auto ;
    margin-bottom: 25vw;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#section1 .sec2_wrap .sec2_left .mobile_txt {
    text-align: center;
    margin-bottom: 10vw;
}
#section1 .sec2_wrap .sec2_left .sec2_left_photo {
    width: 89.6vw;
    height: 41.7vw;
    left: 50%;
    transform: translateX(-50%);
}
#section1 .sec2_wrap .sec2_left .sec2_left_photo a {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-image: url(../img/IU.png);
    background-position: 10;
    background-repeat: no-repeat;
    background-size: cover; 
}
#section1 .sec2_wrap .sec2_left .longbox {
    width: 40vw;
    height: 50vw;
    background-color: rgba(245,229,55,0.2);
    right: 3vw;
    top: 72vw;
    
}
#section1 .sec2_wrap .sec2_left .smallbox {
    width: 20vw;
    height: 20vw;
    background-color: rgba(212,198,47,0.2);
    right: -4vw;
    bottom:-115vw;
}
#section1 .sec2_wrap .sec2_right {
    margin-top: 43.3vw;
}
#section1 .sec2_wrap .sec2_right .line_wrap {
    display: none;
}
#section1 .sec2_wrap .sec2_right .line {
    display: none;
}
#section1 .mobile_txt {
    display: block;
}
#section1 .sec2_wrap .sec2_right .mobile_txt {
    font-size: 1.5vw;
    margin-top: 1vw;
    border: 1px solid #ab8ac7;
    text-align: center;
    width: 89.6vw;
    height: 8.3vw;
    margin: 0 auto;
    line-height: 8.3vw;
    font-size: 4vw;
    color: #ab8ac7;
    font-weight: bold;
}

#section1 .sec2_wrap .sec2_right h1{
    display: none;
}
#section1 .sec2_wrap .sec2_right .sec2_right_photo {
    width: 89.6vw;
    height: 52.1vw;
    margin: 0 auto;
}
#section1 .sec2_wrap .sec2_right .sec2_right_photo a {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background-image: url(../img/ShinSaeKyeong_mobile.png);
    background-position: center -1%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1vw;
}
#section2 .sec3_wrap {
    width: 89.6vw;
    height: 116.7vw;
    margin: 0 auto;
    display: block;
    margin-bottom: 8.3vw;
}
#section2 .sec3_wrap .sec3_left .line_wrap2 {
    display: none;
}
#section2 .sec3_wrap .sec3_left h1 {
    font-size: 5vw;
    margin-top: 1vw;
    margin-bottom: 10vw;
    text-align: center;
}
#section2 .sec3_wrap .sec3_left .detail {
    margin-top: 3vw;
    border: 1px solid #ab8ac7;
    width: 89.6vw;
    height: 8.3vw;
    text-align: center;
    line-height: 8.3vw;
    font-weight: bold;
    justify-content: center;
}
#section2 .sec3_wrap .sec3_left .detail:hover {
    background-color: #fff;
}
#section2 .sec3_wrap .sec3_left .detail a {
    color: #ab8ac7;
    margin-left: 1vw;
    font-size: 4vw;
}
#section2 .sec3_wrap .sec3_left .detail span {
    display:none;
}
#section2 .sec3_wrap .sec3_left .detail:hover a {
    color: #ab8ac7;
}
#section2 .sec3_wrap .sec3_left ul {
    display: block;
    margin-top: 2.4vw;
}
#section2 .sec3_wrap .sec3_left ul li {
    width: 43.8vw;
    height: 29.2vw;
    margin-right: 1vw;
    position: relative;
    float: left;
}
#section2 .sec3_wrap .sec3_left ul li span {
    width: 43.8vw;
    height: 29.2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
}
#section2 .sec3_wrap .sec3_left ul li .p1 {
    background-image: url(../img/1-2.png);
}
#section2 .sec3_wrap .sec3_left ul li .p2 {
    background-image: url(../img/2-2.png);
}
#section2 .sec3_wrap .sec3_left ul li .p3 {
    background-image: url(../img/3-2.png);
}
#section2 .sec3_wrap .sec3_left ul li > img {
    transition: all 0.5s;
}
#section2 .sec3_wrap .sec3_left ul li:hover > img {
    /* filter: grayscale(50%); */
}
#section2 .sec3_wrap .sec3_left ul li .black_30 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#section2 .sec3_wrap .sec3_left ul li .black_30 a {
    margin-left: 12vw;
    margin-top: 11vw;
    
}
#section2 .sec3_wrap .sec3_left ul li .black_30 a img {
    width: 20vw;
    transition: all 0.5s;
}

#section2 .sec3_wrap .sec3_left ul li:nth-child(2) .black_30 a img {
    width: 30vw;
    margin-left: -5vw;
    margin-top: 1.2vw;
}
#section2 .sec3_wrap .sec3_left ul li:last-child .black_30 a img {
    width: 25vw;
    margin-left: -2vw;
    margin-top: -1vw;
}
#section2 .sec3_wrap .sec3_left ul li:hover .black_30 a img {
    transform: scale(0.8);
}
#section2 .sec3_wrap .sec3_left ul li img {
    position: absolute;
}
#section2 .sec3_wrap .sec3_left ul li .border {
    position:absolute;
    width: 100%;
    height: 29vw;
    border: 2px solid #fff;
    opacity: 0;
    transition: all .5s;
}
#section2 .sec3_wrap .sec3_left ul li .border a {
    color: #fff;
    position: absolute;
    right: 2vw;
    bottom: 1vw;
    font-size: 8vw;
}
#section2 .sec3_wrap .sec3_left ul li:hover .border {
    transform: scale(0.8);
    opacity: 1;
}
#section2 .sec3_wrap .sec3_left ul li:first-child {
    margin-right: 1vw;
    
}
#section2 .sec3_wrap .sec3_left ul li:nth-child(2) {
    margin-right: 0;
    margin-left: 1vw;
}
#section2 .sec3_wrap .sec3_left ul li:last-child {
    margin-right: 0;
    margin-top: 1vw;
}
#section2 .sec3_wrap .sec3_right > div {
    float: left;
    width: 43.8vw;
    height: 29.2vw;
    margin: 1vw 0 0 2vw;
    position: relative;
}
#section2 .sec3_wrap .sec3_right > div:nth-child(2) {
    margin-left: 0;
}
#section2 .sec3_wrap .sec3_right span {
    width: 43.8vw;
    height: 29.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#section2 .sec3_wrap .sec3_right .p4 {
    background-image: url(../img/4.png);
}
#section2 .sec3_wrap .sec3_right .p5 {
    background-image: url(../img/5.png);
}
#section2 .sec3_wrap .sec3_right .p6 {
    background-image: url(../img/6.png);
}
#section2 .sec3_wrap .sec3_right > div .right_black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#section2 .sec3_wrap .sec3_right > div .right_black a {
    width: 30vw;
    margin: 0 auto;
    margin-top: 11vw;
    transition: all 0.5s;
}
#section2 .sec3_wrap .sec3_right > div:nth-child(2) .right_black a {
    width: 30vw;
    margin-top: 12vw;
}
#section2 .sec3_wrap .sec3_right > div .right_border {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    opacity:0;
    transition: all 0.5s
}
#section2 .sec3_wrap .sec3_right > div:hover .right_border {
    transform: scale(0.8);
    opacity:1
}
#section2 .sec3_wrap .sec3_right > div .right_border a {
    position: absolute;
    color: #fff;
    right: 2vw;
    bottom: 1vw;
    font-size: 8vw;
}
#section3 .sec4_wrap {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position:relative;
}
#section3 .sec4_wrap .sec4_left img {
    width: 89.6vw;
    height: 66.7vw;
    padding-top: 3vw;
}
#section3 .sec4_wrap .sec4_left .sec4_longbox {
    width: 30vw;
    height: 30vw;
    background-color: rgba(239,239,239,0.4);
    left: 52vw;
    bottom: -15vw;
}
#section3 .sec4_wrap .sec4_left .sec4_smallbox {
    width: 25vw;
    height: 25vw;
    background-color: rgba(221,221,221,0.4);
    left: 68vw;
    bottom: -30vw;
}
#section3 .sec4_wrap .sec4_left {
    position: relative;
    width: 89.6vw;
    height: 61.7vw;
    margin: 0 auto;
    margin-bottom: 38vw;
    order:2;
}
#section3 .sec4_wrap .sec4_left div {
    position: absolute;
}
#section3 .sec4_wrap .sec4_right {
    margin-left: 0;
}
#section3 .sec4_wrap .sec4_right .sec4_line_wrap {
    display: none;
}
#section3 .sec4_wrap .sec4_right h1 {
    font-size: 5vw;
    margin-bottom: 10vw;
    text-align: center;
}
#section3 .sec4_wrap .sec4_right .sec4_detail {
    border: 1px solid #ab8ac7;
    width: 89.6vw;
    height: 8.3vw;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
#section3 .sec4_wrap .sec4_right .sec4_detail:hover {
    background-color: #fff;
}
#section3 .sec4_wrap .sec4_right .sec4_detail a {
    color: #ab8ac7;
    font-size: 4vw;
    line-height: 8.3vw;
    margin: 0 auto;
}
#section3 .sec4_wrap .sec4_right .sec4_detail span {
    display: none;
}
#section3 .sec4_wrap .sec4_right .sec4_detail:hover a {
    color: #ab8ac7;
}
#section3 .sec4_wrap .sec4_right .sec4_detail:hover span {
    border-left: 0.3vw solid #fff;
}
#section3 .sec4_footer {
    width: 100%;
    height: 27.1vw;
    background-color: black;
    order: 3;
    margin-top: 25vw;
    position: absolute;
    bottom:0;
    display: block;
}
#section3 .sec4_footer .footer_logo {
    width: 50vw;
    margin-top: 1vw;
}
#section3 .sec4_footer p {
    color: #fff;
    font-size: 3vw;
    margin-left: 3vw;
    margin-bottom: 1vw;
}
#section3 .sec4_footer span {
    color: #fff;
    font-size: 3vw;
    margin-left: 3vw;
}
#section3 .sec4_footer .footer_sns {
    width: 4vw;
    display: flex;
    margin-left: 3vw;
    margin-top: 2vw;
}
#section3 .sec4_footer .footer_sns img {
    margin-right: 2vw;
}





}